<% @page_title = "Edit Wish" %>

<%= render 'form' %>

<%= link_to 'Wishlist', teafinder_wishlists_path %> |
<%= link_to 'Delete', teafinder_wishlist_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>