<div class="footer">
	<%= link_to 'Types', teafinder_tea_types_path %> 
	<span>|</span>
	<%= link_to "Prep Styles", teafinder_tea_styles_path %>
	<span>|</span>
	
	<% if session[:night_mode] == "on" %>
		<a href="?night_mode=off">Disable Night Mode</a>
	<% elsif %>
		<a href="?night_mode=on">Enable Night Mode</a>	
	<% end %>
</div>