<p id="notice"><%= notice %></p>

<p>
  <strong>Style:</strong>
  <%= @teafinder_tea_style.style %>
</p>

<%= link_to 'Edit', edit_teafinder_tea_style_path(@teafinder_tea_style) %> |
<%= link_to 'Back', teafinder_tea_styles_path %>
